{% extends 'CuteFlowCoreBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}


{% block mainmenu %}
<ul>
    <li>
        <a class="{{ app.request.attributes.get('_route') == 'cuteflow_admin_index' ? 'selected' : '' }}" 
           href="{{ path('cuteflow_admin_index') }}">
            {% trans %}System information{% endtrans %}
        </a>
    </li>
    <li>
        <a class="{{ app.request.attributes.get('_route') == 'cuteflow_admin_user' ? 'selected' : '' }}" 
           href="{{ path('cuteflow_admin_user') }}">
            {% trans %}User{% endtrans %}
        </a>
    </li>
    <li>
        <a class="{{ app.request.attributes.get('_route') == 'cuteflow_usergroups' ? 'selected' : '' }}"
           href="{{ path('cuteflow_admin_usergroup')}}">
            {% trans %}Usergroups{% endtrans %}
        </a>
    </li>
    <li>
        <a class="{{ app.request.attributes.get('_route') == 'cuteflow_admin_settings' ? 'selected' : '' }}" 
           href="{{ path('cuteflow_admin_settings') }}">
            {% trans %}Settings{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}