{% extends '::base.html.twig' %}

{% block mainmenu %}
<ul>
    <li>
        <a class="{{ app.request.attributes.get('_route') == 'cuteflow_dashboard' ? 'selected' : '' }}" 
           href="{{ path('cuteflow_dashboard') }}">
            {{ "layout.dashboard" | trans }}
        </a>
    </li>
    <li>
        <a class="{{ app.request.attributes.get('_route') == 'cuteflow_workflows' ? 'selected' : '' }}" 
           href="">
            {{ "layout.workflows" | trans }}
        </a>
    </li>
    <li>
        <a class="{{ app.request.attributes.get('_route') == 'cuteflow_reports_overview' ? 'selected' : '' }}" 
           href="{{ path('cuteflow_reports_overview') }}">
            {{ "layout.reports" | trans }}
        </a>
    </li>
    <li>
        <a class="{{ app.request.attributes.get('_route') == 'cuteflow_workflow_management' ? 'selected' : '' }}" 
           href="">
            {{ "layout.workflow_management" | trans }}
        </a>
    </li>
</ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 
            '@CuteFlowCoreBundle/Resources/public/css/application.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/cuteflowcore/css/theme/" ~ app.session.get('cuteflow_theme') ~ "/application.css") }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/cuteflowcore/js/jquery-1.6.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cuteflowcore/js/tabs.js') }}" type="text/javascript"></script>
{% endblock %}
