{% extends 'CuteFlowCoreBundle::admin.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Administration{% endtrans %}{% endblock %}

{% block sidebarclass %}class="nosidebar"{% endblock %}

{% block body %}
    <h2>{% trans %}New usergroup{% endtrans %}</h2>

    {% if form_errors(form) %}
        <div class="flash error">
            {{ form_errors(form) }}
        </div>
        <br/>
	{% endif %}

    <form action="{{ path('cuteflow_admin_usergroup_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="box tabular settings">
            <p>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </p>
        </div>

        {{ form_rest(form) }}
        <input type="submit" value="{% trans %}Save{% endtrans %}" name="commit"/>
        &nbsp;&nbsp;&nbsp;<a href="{{ path('cuteflow_admin_usergroup') }}">{% trans %}Back to list{% endtrans %}</a>
    </form>
{% endblock %}