{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 
            '@CuteFlowCoreBundle/Resources/public/css/application.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/cuteflowcore/css/theme/" ~ app.session.get('cuteflow_theme') ~ "/application.css") }}" />
{% endblock %}

{% block title %}{{ parent() }} - {{ "user.title.administration" | trans }}{% endblock %}

{% block sidebarclass %}class="nosidebar"{% endblock %}

{% block body %}
    <h2>{{ "user.header.reset" | trans }}</h2>
    {% if form_errors(form) %}
        <div class="flash error">
            {{ form_errors(form) }}
        </div>
        <br/>
    {% endif %}

	<form action="{{ path('cuteflow_user_resetting_update', {'token': token}) }}" method="POST" {{ form_enctype(form) }}>
         {{ form_widget(form.plainPassword) }}
	    <input type="submit" value="{{ 'resetting.reset.submit'|trans}}" />
    {{ form_rest(form) }}
	</form>
{% endblock %}
