{% extends 'CuteFlowCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "account.title.my_account" | trans }}{% endblock %}

{% block body %}
<h2>
    <img class="gravatar" width="50" height="50" src="{{ gravatar(user.email, 50) }}" />
    {{ user.firstname }} {{ user.lastName }}
</h2>
<div class="splitcontentleft">
    <h3>{{ "account.header.information" | trans }}</h3>
    <ul>
        <li>{{ "account.label.email" | trans }}: <a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
        <li>{{ "account.label.registered_on" | trans }}: {{ user.createdAt|localedate }}</li>
        <li>{{ "account.label.last_login" | trans }}: {{ user.lastLogin|localedate }}</li>
    </ul>
</div>
<div class="splitcontentright">
    <h3>{{ "account.header.activity" | trans }}</h3>
</div>

{% endblock %}

{% block sidebarclass %}class="nosidebar"{% endblock %}
