{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 
            '@CuteFlowCoreBundle/Resources/public/css/application.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/cuteflowcore/css/theme/" ~ app.session.get('cuteflow_theme') ~ "/application.css") }}" />
{% endblock %}

{% block sidebarclass %}class="nosidebar"{% endblock %}

{% block body %}
    {% if error %}
        <div class="flash error">{{ error.message }}</div>
    {% endif %}

    <div id="login-form">
        <form action="{{ path("_security_check") }}" method="post" id="login">
            <table>
                <tr>
                    <td align="right"><label for="username">{{ "security.label.username" | trans }}</label></td>
                    <td align="left"><p><input type="text" id="username" name="_username" size="40" value="{{ last_username }}" /></p></td>
                </tr>
                <tr>
                    <td align="right"><label for="password">{{ "security.label.password" | trans }}</label></td>
                    <td align="left"><p><input type="password" id="password" size="40" name="_password" /></p></td>
                </tr>
                <tr>
                    <td/>
                    <td align="left"><label for="remember_me"><input id="remember_me" type="checkbox" value="1" name="_remember_me"/>
                            {{ "security.label.remember_me" | trans }}</label></td>
                </tr>
                <tr>
                    <td align="left"><a href="user/resetting/request">{{ "security.label.lost_password" | trans }}</a></td>
                    <td align="right"><input type="submit" value="Login »"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
