{% extends 'CuteFlowCoreBundle:Mail:mail_layout.html.twig' %}

{% block cuteflow_email_subject %}[CuteFlow] - {{ "mail.title.request_resetting" | trans }}{% endblock %}

{% block cuteflow_email_body %}

<p>{{ "mail.title.request_resetting_information" | trans }}:</p>
<ul>
    <li>{{ "mail.label.username" | trans }}: {{ user.username }}</li>
    <li>{{ "mail.label.confirmation_resetting_reset_link" | trans }}: {{ confirmationUrl }}</li>
</ul>
<br/>

{% endblock %}
