{% extends 'CuteFlowCoreBundle:Mail:mail_layout.html.twig' %}

{% block cuteflow_email_subject %}[CuteFlow] - {{ "mail.title.your_account_information" | trans }}{% endblock %}

{% block cuteflow_email_body %}

<p>{{ "mail.title.your_cuteflow_account_information" | trans }}:</p>
<ul>
    <li>{{ "mail.label.username" | trans }}: {{ user.username }}</li>
    <li>{{ "mail.label.password" | trans }}: {{ user.plainPassword }}</li>
</ul>
<br/>
{{ "mail.label.login" | trans }}: <a href="{{ homepage }}">{{ homepage }}</a>

{% endblock %}
