{% extends 'CuteFlowCoreBundle::admin.html.twig' %}

{% block title %}{{ parent() }} - {{ "admin.title.system_information" | trans }}{% endblock %}

{% block body %}
<h2>{{ "admin.title.system_information" | trans }}</h2>

<table class="list">
    <tr class="odd">
        <td>{{ "admin.label.version" | trans }}</td>
        <td>{{ version }}</td>
    </tr>
    <tr class="even">
        <td>{{ "admin.label.php" | trans }}</td>
        <td>{{ phpVersion }}</td>
    </tr>
    <tr class="odd">
        <td>{{ "admin.label.root_path" | trans }}</td>
        <td>{{ rootPath }}</td>
    </tr>
    <tr class="even">
        <td>{{ "admin.label.database" | trans }}</td>
        <td>{{ database }}</td>
    </tr>
</table>
{% endblock %}

{% block sidebarclass %}class="nosidebar"{% endblock %}
